<header>
    <div class="header-content">
        <div class="logo-and-title">
            <a href="https://xqhare.net" class="logo-link">
                <img src="../global_assets/pictures/logo.png" alt="xqhare.net logo" class="header-logo">
            </a>
            <h1>xqhare.net</h1>
        </div>
        <nav>
            <table>
                <tr>
                    <td><a href="https://xqhare.net">Home</a></td>
                    <td>|</td>
                    <td><a href="https://blog.xqhare.net">Blog</a></td>
                    <td>|</td>
                    <td><a href="https://profile.xqhare.net">Profile</a></td>
                </tr>
            </table>
        </nav>
    </div>
</header>
<hr />
