<header>
    <div class="header-content">
        <div class="logo-and-title">
            <a href="//xqhare.net" class="logo-link">
                <img src="/logo.png" alt="xqhare.net logo" class="header-logo">
            </a>
            <div class="logo-spacer"></div>
            <h1>xqhare.net</h1>
        </div>
        <nav>
            <table class="header-nav-table">
                <tr>
                    <td><a href="//xqhare.net">Home</a></td>
                    <td>|</td>
                    <td><a href="//blog.xqhare.net">Blog</a></td>
                    <td>|</td>
                    <td><a href="//profile.xqhare.net">Profile</a></td>
                </tr>
            </table>
        </nav>
    </div>
</header>
<hr />
