<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>$if(title)$$title$$else$xqhare.net$endif$</title>
    $if(author)$<meta name="author" content="$author$">$endif$
    <link rel="icon" type="image/png" href="/favicon.png?v=$if(asset_v)$$asset_v$$else$1$endif$">
    $if(header-includes)$
    $header-includes$
    $endif$
</head>
<body>
    $if(include-before)$$include-before$$endif$

    $if(title)$
        <center>
            <h1>$title$</h1>
        </center>
    $endif$

    $if(quote)$
        <center>
            <blockquote>
                $quote$
            </blockquote>
            $if(quotee)$
            <small>
                - $quotee$
            </small>
            $endif$
        </center>
    $endif$

    <hr />

    $body$
    
    <footer>
        $if(include-after)$$include-after$$endif$
    </footer>
</body>
</html>
